{% extends 'authenticate/base.html' %}
{% load static %}



{% block content %}
<div class="float-center">
	<div class="card mb-3" style="width: 30rem;">
		<div class="article-detail">
			<div class="article">
				<img src="{{ article.thumb.url }}" class="card-img-top"/>
				<div class="card-body">
					<h2 class="card-title">{{ article.title }}</h2>
					<p class="card-text">{{ article.body }}</p>
					<p class="card-text"><small class="text-muted">{{ article.date }}</small></p>
				</div>
			</div>
		</div>
	</div>
</div>	

#need to add article list on right-hand side

	{% for article in articles %}
	<div class="float-right">
	  <div class="container-fluid" style="width: 18rem;">
	    <div class="row">
	      <div class="card">
	        <img src="{{ article.thumb.url }}" style="width: 18rem;"/>
	        <h3><a href="{% url 'main-urls:article_detail' slug=article.slug %}" class="card-title">{{ article.title }}</a></h3>
	        <p class="card-text">{{ article.snippet }}</p>
	        <div class="card-footer">
	        <small class="text-muted">{{ article.date }}</small>
	      </div>
	{% endfor %}

{% endblock %}
