{% extends 'authenticate/base.html' %}
{% load static %}
{% block content %}
{% for league in object_list %}
    <li><a href="{% url 'main-urls:league_detail' pk=league.pk %}">{{ league.name }}</a>
	    {% if league.owner == request.user %}
		    Invite key: {{league.invite_key }}
		    <a href="{% url 'main-urls:update_league' pk=league.pk %}">Update</a>
		    <a href="{% url 'main-urls:delete_league' pk=league.pk %}">Delete</a>
	    {% endif %}</li>
{% empty %}
    <li>No leagues yet</li>
{% endfor %}
{% endblock %}