{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}

<h1>The Rules</h1>
<br/>

<p><strong>Squad</strong></p>

<p><small>Each participant will select a squad of 15 players. 10 for your team. 5 for the bench</small></p>
<br/>

<p><strong>Team</strong><small><em> - the players who will be scoring points</em></small></p>

  <ul>
      <li><small>2 x Men’s Singles players</small></li>
      <li><small>2 x Women’s Singles players</small></li>
      <li><small>1 x Men’s Doubles pair</small></li>
      <li><small>1 x Women’s Doubles pair</small></li>
      <li><small>1 x Mixed Doubles pair</small></li>
    </ul>
<br/>

<p><strong>Bench</strong><small><em> - the players who can be swapped in if team players are unavailable or injured</em></small></p>

<p><small>1 x Men’s Singles, 1 x Women’s Singles, 1 x Men’s Doubles player, 1 x Women’s Doubles player, 1 x Mixed Doubles player</small></p>
<br/>

<p><strong>Choosing your starting team</strong></p>

<p><small>From your 15 player squad, select 10 players by the tournament deadline to form your team</small></p>

<p><small>All your points for the tournament will be scored by these 10 players, however if one or more doesn't play they may be automatically swapped for the players on your bench</small></p>

<p><small>When you select a player to buy, the budget will decrease. You will select from a list of players from the top 50 in each discipline (updated before each tournament)</small></p>

<p><small>For the Doubles picks, you DO NOT have to select one complete pair (you can if you want to though). You are able to select one player from one pair and one from another and match them together. Creating a cool mash-up pairing. For example, you can pick Lee Yong Dae to play with Kevin Sukamuljo!!! If one player is knocked out of the tournament, the other player in the pairing can still gain points for your team</small></p>

<p><small>Be tactical when buying in players and selecting your bench to ensure you do not miss out on point scoring opportunities</small></p>
<br/>

<p><strong>Selecting your captain</strong></p>

<p><small>From your 10 player team you will nominate a captain. Your captain's score will be doubled!</small></p>
<br/>

<p><strong>Transfers</strong></p>

<p><small>After selecting your squad you can buy and sell players in the transfer market. Unlimited transfers can be made at no cost until your first deadline</small></p>

<p><small>After your first deadline and the season has begun, you will receive 3 free transfers each tournament. Each additional transfer you make in the same tournament will deduct 5 points from your total score</small></p>

<p><small>You should make use of the transfers to make sure you have players in top form and are able to swap unavailable or injured players. Keep yourself informed with the latest news from FBO news and gain wise insights from Mr Wang</small></p>

<p><small>Player prices are set using our sophisticated rating system. Player prices change during the season dependent on the popularity of the player in the transfer market. Player prices do not change until the season starts</small></p>
<br/>

<p><strong>Scoring</strong></p>

<p><small>During the season, your fantasy badminton players will be given points based on their performance for each day they are in the tournament</small></p>

<p><strong>1</strong><small> - Round 1 win</small></p>
<p><strong>2</strong><small> - Round 2 win</small></p>
<p><strong>4</strong><small> - Quarter-final win</small></p>
<p><strong>8</strong><small> - Semi-final  win</small></p>
<p><strong>12</strong><small> - Tournament win</small></p>
<p><strong>3</strong><small> - Winning a game vs top 8 seed player/pair (only if player/pair is outside top 8 themselves)
</small></p>
<p><strong>5</strong><small> - Winning match vs top 8 seed player/pair (only if player/pair is outside top 8 themselves)</small></p>
<br/>

<p><strong>Special points</strong></p>

<p><small>Bench boost</small><small><em> - Players on the bench also score points for that tournament</em></small></p>
<p><small>Triple Captain</small><small><em> - Triple points for your selected captain</em></small></p>

<p><small>You can only use these once a season</small></p>
<br/>

<p><strong>Bonus points</strong></p>

<p><small>The Bonus Points System (BPS) utilises a range of statistics to create a BPS score for every player each day. The five best performing players in each discipline, will be awarded bonus points. 3 points will be awarded to the highest scoring player, 2 to the second and third best and 1 to the fourth and fifth</small></p>

<p><small>Don’t forget to pick a good name for your team! Let's play!</small></p>
<br/><br/><br/>









{% endblock %}