{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}

<h1>Pick your team</h1><br/>

{% if user.is_authenticated %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card border-danger mb-3" style="width: 18rem;">
        <div class="card-header">
          Hello {{ user.first_name }} {{ user.last_name }}!
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
          <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-danger mb-3" style="width: 18rem;">
        <div class="card-header">
          <a href="{% url 'my_team' %}">My team</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><small><strong>MS:</strong> Chen Long & Lee Hyun Il</small></li>
          <li class="list-group-item"><small><strong>WS:</strong> He Bingjiao & Akane Yamaguchi</small></li>
          <li class="list-group-item"><small><strong>MD:</strong> Liu Yuchen & Lee Yong Dae</small></li>
          <li class="list-group-item"><small><strong>WD:</strong> Yuki Fukushima & Gabriella Stoeva</small></li>
          <li class="list-group-item"><small><strong>XD:</strong> Lu Kai & Christinna Pedersen</small></li>
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-danger mb-3" style="width: 18rem;">
  <div class="card-header">
    TEAM NAME
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Overall points:</strong> 1,234</br><strong>Global rank:</strong> 101</br><strong>Total players:</strong> 100,500</li>
    <li class="list-group-item"><strong>Current tournament points:</strong> 69</li>
    <li class="list-group-item"><a href="#"><strong>Your leagues</strong></a></li>
  </ul>
</div>
    </div>
  </div>
</div>

{% endif %}

</br>

<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        MS
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">WS</a></li>
    <li class="page-item"><a class="page-link" href="#">MD</a></li>
    <li class="page-item"><a class="page-link" href="#">WD</a></li>
    <li class="page-item"><a class="page-link" href="#">XD</a></li>
  </ul>
</nav>

  {% if all_ranking %}
  <table id=player_table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Country</th>
            <th scope="col">Event</th>
            <th scope="col">Price</th>
            <th scope="col">Season Points</th>
            <th scope="col">Last Tournament</th>
            <th scope="col">Form</th>
            <th scope="col">Info</th>
          </tr>
      </thead>
    {% for things in all_ranking %}
      {% if things.playing %}
      <tbody>
        <tr>
          <td><a href="{% url 'player_profile' player=things.player %}">{{ things.name }}</a></td>
          <td>{{ things.country }}</td>
          <td>{{ things.event }}</td>
          <td>{{ things.price }}</td>
          <td>{{ things.score }}</td>
          <td>{{ things.last }}</td>
          <td>{{ things.form }}</td>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">profile</button></td>
        </tr>
      {% else %}
        <tr class="table-danger">
          <td><a href="{% url 'player_profile' player=things.player %}">{{ things.name }}</a></td>
          <td>{{ things.country }}</td>
          <td>{{ things.event }}</td>
          <td>{{ things.price }}</td>
          <td>{{ things.score }}</td>
          <td>{{ things.last }}</td>
          <td>{{ things.form }}</td>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">profile</button></td>
        </tr>
      </tbody>
      {% endif %}
    {% endfor %}
  </table>

{% endif %}


{% endblock %}

