{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}

<h1>Your team</h1>
{% if user.is_authenticated %}

<div class="container">
  <div class="row">
    <div class="col-sm">
    <table class="table table-hover" id="your-table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Player</th>
            <th scope="col">Country</th>
            <th scope="col">Price(£)</th>
            <th scope="col">Last Tournament</th>
            <th scope="col">Current Tournament</th>
          </tr>
      </thead>
      <tbody>
      {% for player in MSplayers_user %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">MS{{ forloop.counter }}</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td>{{ player.country }}</td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td><a class="btn btn-danger sell" role="button">Sell</a></td>
        </tr>
      {% endfor %}
      {% for player in WSplayers_user %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">WS{{ forloop.counter }}</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td>{{ player.country }}</td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td><a class="btn btn-danger sell" role="button">Sell</a></td>
        </tr>
      {% endfor %}
      {% for player in MDplayers_user %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">MD{{ forloop.counter }}</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td>{{ player.country }}</td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>

          <td><a class="btn btn-danger sell" role="button">Sell</a></td>
        </tr>
      {% endfor %}
      {% for player in WDplayers_user %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">WD{{ forloop.counter }}</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td>{{ player.country }}</td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td><a class="btn btn-danger sell" role="button">Sell</a></td>
        </tr>
      {% endfor %}
      {% for player in XDplayers_user %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">XD{{ forloop.counter }}</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td>{{ player.country }}</td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td><a class="btn btn-danger sell" role="button">Sell</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  <div class="row col-sm" ><form id="form" action="{% url 'players-urls:buy_bulk' %}"
         method="POST">{% csrf_token %}<input type="submit" class="btn btn-danger" value="SUBMIT"></form></div>
	<div class="row">
	<div class="col-sm">
	<h1>Players list</h1>
	<table class="table table-hover" id="vacant-table">

    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Player</th>
            <th scope="col">Country</th>
            <th scope="col">Price(£)</th>
            <th scope="col">Last Tournament</th>
            <th scope="col">Current Tournament</th>
          </tr>
      </thead>
      <tbody>

      {% for player in MSplayers %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">MS</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td><img class="flag-icon" src="{% static 'flags/4x3/' %}{{ player.country.code|lower }}.svg"></td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td>{% if not player.team %}
          {% if team.MSplayers.all|length < 2 %}
	          <a class="btn btn-danger buy" role="button">Buy</a>
          {% else %}
	          <a class="" role="button">No slots for {{ player.get_type }}</a>
          {% endif %}</td>
          {% else %}
	          <a class="btn btn-secondary" role="button" disabled>Buy</a>
          {% endif %}
	        </td>
        </tr>
      {% endfor %}
      {% for player in WSplayers %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">WS</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td><img class="flag-icon" src="{% static 'flags/4x3/' %}{{ player.country.code|lower }}.svg"></td>
         <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td>{% if not player.team %}
          {% if team.WSplayers.all|length < 2 %}
	          <a class="btn btn-danger buy" role="button">Buy</a>
          {% else %}
	          <a class="" role="button">No slots for {{ player.get_type }}</a>
          {% endif %}</td>
          {% else %}
	          <a class="btn btn-secondary" role="button" disabled>Buy</a>
          {% endif %}
	        </td>
        </tr>
      {% endfor %}
      {% for player in MDplayers %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">MD</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td><img class="flag-icon" src="{% static 'flags/4x3/' %}{{ player.country.code|lower }}.svg"></td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>

          <td>{% if not player.team %}
          {% if team.MDplayers.all|length < 2 %}
	          <a  class="btn btn-danger buy" role="button">Buy</a>
          {% else %}
	          <a class="" role="button">No slots for {{ player.get_type }}</a>
          {% endif %}</td>
          {% else %}
	          <a class="btn btn-secondary" role="button" disabled>Buy</a>
          {% endif %}
	        </td>
        </tr>
      {% endfor %}
      {% for player in WDplayers %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">WD</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td><img class="flag-icon" src="{% static 'flags/4x3/' %}{{ player.country.code|lower }}.svg"></td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td>{% if not player.team %}
          {% if team.WDplayers.all|length < 2 %}
	          <a class="btn btn-danger buy" role="button">Buy</a>
          {% else %}
	          <a class="" role="button">No slots for {{ player.get_type }}</a>
          {% endif %}</td>
          {% else %}
	          <a class="btn btn-secondary" role="button" disabled>Buy</a>
          {% endif %}
	        </td>
        </tr>
      {% endfor %}
      {% for player in XDplayers %}
        <tr class="{{ player.id }}">
          <th class="player-type" scope="row">XD</th>
          <td><a class="player-name" href="" data-toggle="modal" data-target="#playerModal{{ player.get_type }}{{ player.id }}">{{ player.name }}</a></td>
	        {% include 'player.html' %}
          <td><img class="flag-icon" src="{% static 'flags/4x3/' %}{{ player.country.code|lower }}.svg"></td>
          <td class="player-cost">{{ player.cost }}</td>
          <td>{{ player.last_tournament_score }}</td>
          <td>{{ player.current_tournament_score }}</td>
          <td>{% if not player.team %}
          {% if team.XDplayers.all|length < 2 %}
	          <a class="btn btn-danger buy" role="button">Buy</a>
          {% else %}
	          <a class="" role="button">No slots for {{ player.get_type }}</a>
          {% endif %}</td>
          {% else %}
	          <a class="btn btn-secondary" role="button" disabled>Buy</a>
          {% endif %}
	        </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div> 

    <div class="col-sm..offset-md-4">
      <div class="card border-danger mb-3" style="width: 18rem;">
        <div class="card-header">
        TEAM NAME
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Overall points:</strong> 1,234</br><strong>Global rank:</strong> 101</br><strong>Total players:</strong> 100,500</li>
          <li class="list-group-item"><strong>Current tournament points:</strong> 69</li>
          <li class="list-group-item"><a href="#"><strong>Your leagues</strong></a></li>
        </ul>
      </div>
      <div class="container border-danger">
        <div class="row">
          <div class="col-sm.offset-md-4">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">BUDGET (£)</th>
                <td id="budget">{{ team.budget }}</td>
              </tr>
              <tr>
                <th scope="row">TEAM VALUE (£)</th>
                <td>{{ team.get_team_value }}</td>
              </tr> 
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
	</div>
	</div>
	</div>
  </div>
</div>
            
</br>
	<script>
	var d = document,
    vacantTable = d.getElementById('vacant-table');
	yourTable = d.getElementById('your-table');
	playersToBuy = {};
	playersToSell = {};
	budgetDOM = d.getElementById('budget');
	budget = d.getElementById('budget').innerHTML;
	form = $('form')[0];
	formData = new FormData(form);
	playerData = jQuery.parseJSON('{{data|safe}}');
	console.log(playerData)

	var checkTeamSpace = function(){
        for (var i = 0; i < buttonsVacant.length; i++) {
            let row = jQuery.extend(true, {}, $(buttonsVacant[i]).closest('tr')),
	            element = buttonsVacant[i].parentElement.parentElement,
                type = element.getElementsByClassName('player-type')[0].innerHTML,
	            rowButton = row.find('a')[1];
		    if(playerData[type] > 1){
		        buttonsVacant[i].removeEventListener("click", handleCart, false);
		        rowButton.style.backgroundColor = "white";
				row.find('a')[1].innerHTML = 'No slots for ' + type;
		    } else {
                buttonsVacant[i].addEventListener('click', handleCart, false);
                rowButton.style.backgroundColor = "";
                row.find('a')[1].innerHTML = 'buy';
            }
            if (rowButton.className==='btn btn-secondary'){
		        rowButton.removeEventListener("click", handleCart, false);
            } else {

            }
	    }
	};

	var handleCart = function(e){
		const element = this.parentElement.parentElement;
	    let name = element.getElementsByClassName('player-name')[0].text,
	        type = element.getElementsByClassName('player-type')[0].innerHTML,
	        id = $(this).closest('tr')[0].className,
			cost = element.getElementsByClassName('player-cost')[0].innerHTML,
			row = jQuery.extend(true, {}, $(this).closest('tr'));
			let rowButton = row.find('a')[1];



        if (this.className == 'btn btn-danger buy'){
          var rowCopy = row.clone();
                rowCopyButton = rowCopy.find('a')[1];
		  $(rowButton).removeClass('btn btn-danger buy').addClass('btn btn-secondary');

          if (type.length === 2) {
              playersToBuy[type+id] = 1;
              playerData[type] += 1;
          } else {
              playersToSell[type+id] = 1;
              playerData[type.substring(0, 2)] += 1;
          }
          rowCopyButton.style.backgroundColor = "#ADFF2F";
          $(rowCopyButton).removeClass('btn btn-danger buy').addClass('btn btn-danger sell');
          rowCopyButton.addEventListener('click', handleCart, false);
          rowCopy.find('a')[1].innerHTML = 'Sell';
          budgetDOM.innerHTML = Number(budget) - Number(cost);
          budget = Number(budget) - Number(cost);
          $('#your-table tbody').append(rowCopy);
		} else {
          a = d.querySelectorAll("[class=" + CSS.escape(id) + "]");
		  for (var i = 0; i < a.length; i++) {
		      if (a[i].getElementsByClassName('player-type')[0].innerHTML === type.substring(0, 2)){
		          soldPlayerInAllList = a[i];
		      }
		    }

		  button = $(soldPlayerInAllList).find('a')[1];
		  $(button).removeClass('btn btn-secondary').addClass('btn btn-danger buy');

          if (type.length === 2) {
              playersToBuy[type+id] = 1;
              playerData[type] -= 1;
          } else {
              playersToSell[type+id] = 1;
              playerData[type.substring(0, 2)] -= 1;
          }
          console.log(playerData)
          rowButton.style.backgroundColor = "#ADFF2F";
          row.find('a')[1].innerHTML = 'Sold';

          budgetDOM.innerHTML = Number(budget) + Number(cost);
          budget = Number(budget) + Number(cost);
          this.parentElement.parentElement.parentNode.removeChild(this.parentElement.parentElement);
		}
		console.log(playerData);
        vacantTable = d.getElementById('vacant-table');
		yourTable = d.getElementById('your-table');
		checkTeamSpace();

	    return false;
	}


	$('#form').submit(function () {
	   $('<input>', {
		    type: 'hidden',
		    name: 'sell',
		    value: JSON.stringify(playersToSell)
		}).appendTo('form');
	   $('<input>', {
		    type: 'hidden',
		    name: 'buy',
		    value: JSON.stringify(playersToBuy)
		}).appendTo('form');

	});


	var buttonsVacant = vacantTable.getElementsByClassName('btn');

	for (var i = 0; i < buttonsVacant.length; i++) {
        buttonsVacant[i].addEventListener('click', handleCart, false);
    }

	var buttonsYours = yourTable.getElementsByClassName('btn btn-danger sell');

	for (var i = 0; i < buttonsYours.length; i++) {
	    buttonsYours[i].addEventListener('click', handleCart, false);
	}

	</script>


{% endif %}
{% endblock %}