
		<div class="modal-header">
			<h5>{{ player.name }} - {{ player.get_type }}</h5>
		</div>
		<div class="modal-body">{% load static %}
		Country: {{ player.country.name }}&nbsp;<img class="flag-icon" src="{% static 'flags/4x3/' %}{{ player.country.code|lower }}.svg"><br>
		Price: {{ player.cost }}<br>
		<img class="player-portrait" src="/media/{{ player.picture }}" alt="img">
		</div>
		<div class="modal-footer">
			<a href="{% url 'players-urls:player_profile' type=player.get_type pk=player.pk %}"><strong>See profile</strong></a></li>
		</div>
	<nav>
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"  href="#profile{{ player.get_type }}{{ player.id }}" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
	    <a class="nav-item nav-link" id="nav-performance-tab" data-toggle="tab" href="#performance{{ player.get_type }}{{ player.id }}" role="tab" aria-controls="nav-performance" aria-selected="false">Performance</a>
	  </div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
	  <div class="tab-pane fade show active" id="profile{{ player.get_type }}{{ player.id }}" role="tabpanel" aria-labelledby="nav-home-tab">
		  {% for stat_name, stat_value in player.get_profile_stats %}
	  <div class="col-sm-4" style="    float: left;width: 33.3333333333%;padding-top: 10px;">
	          <h6>{{ stat_name }}</h6>
	          <h4>{{ stat_value }}</h4>
		  </div>
		  {% endfor %}

	  </div>
	  <div class="tab-pane fade" id="performance{{ player.get_type }}{{ player.id }}" role="tabpanel" aria-labelledby="nav-profile-tab">
		<div class="table">
			<div class="table-head">
				<div class="tr">
					<span class="th">Tournament</span>
					<span class="th">Score</span>
					<span class="th">Game8</span>
					<span class="th">Match8</span>
					<span class="th">Bonus</span>
				</div>
			</div>
			<div class="table-body">
			{% for participation in player.tournament_records.all %}
				<div class="tr">
					<div class="cell">{{ participation.tournament }}</div>
					<div class="cell">{{ participation.score }}</div>
					<div class="cell">{{ participation.game8 }}</div>
					<div class="cell">{{ participation.match8 }}</div>
					<div class="cell">{{ participation.bonus }}</div>
				</div>
			{% endfor %}
			</div>
		</div>
	  </div>
	</div>
