<div class="modal fade" id="leagueModal{{ league.pk }}">
<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
	The following league will be deleted. Are you sure?
		</div>
		<div class="modal-body confirm-delete">{% load static %}

		</div>
	<div class="modal-footer">
	<a class="btn btn-danger" href="{% url 'main-urls:delete_league' pk=league.pk %}">Delete</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	</div>

	</div>
</div>
</div>
<style>
.modal{
   overflow: hidden !important;
}
</style>