{% extends 'authenticate/../base.html' %}
{% load static %}
{% block content %}
<ul class="list-group">
{% for league in object_list %}
    <li class="list-group-item"><a href="{% url 'main-urls:league_detail' pk=league.pk %}">{{ league.name }}</a>
	    {% if league.owner == request.user %}
		    Invite key: {{league.invite_key }}
		    <a class="btn btn-primary" href="{% url 'main-urls:update_league' pk=league.pk %}">Update</a>
		    <a href="" data-toggle="modal" data-target="#leagueModal{{ league.pk }}" class="btn btn-danger">Delete</a>
		    {% include 'authenticate/league_confirm_delete.html' %}
	    {% endif %}</li>
{% empty %}
    <li>No leagues yet</li>
{% endfor %}
</ul>

{% endblock %}